* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header {
    background-color: #F8F8F8;
}

.navigation {
    height: 100px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;

}

.nav__svg {
    width: 100%;
    height: 45px;
    max-width: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__content {
    width: 100%;
    height: 18px;
    max-width: 437px;
}

.nav__content>ul {
    display: flex;
    list-style: none;
    gap: 40px;

}

.register {
    width: 100%;
    height: 50px;
    max-width: 120px;
    background-color: #3685FB;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
}

.register:hover {
    background-color: white;
    color: #3685FB;
    border: 3.5px solid #3685FB;
}


.hero {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 78px;
}

.hero__img {
    width: 100%;
    height: 597px;
    max-width: 569px;
    border-radius: 50px;
}


.hero__img1>img {
    border-radius: 570px;
    border: 10px solid white;
}

.hero__img1 {
    height: 540px;
    max-width: 400px;
}

.hero__img2 {
    height: 430px;
    max-width: 320px;
    position: absolute;
    top: 167px;
    left: 249px;
}

.hero__img2>img {
    border-radius: 570px;
    border: 10px solid white;
}

.hero__conetn {
    width: 100%;
    height: 399px;
    max-width: 523px;
    z-index: 1;
    flex-wrap: wrap;
}

.hero__conetn__coment {
    margin-top: 15px;
    height: 152px;
    max-width: 523px;
    font-size: 60px;
}

.hero__conetn__info {
    margin-top: 20px;
    height: 84px;
    max-width: 513px;
    color: #697687;
    line-height: 28px;
    margin-bottom: 50px;
}

.hero__conetn__button {
    height: 60px;
    max-width: 170px;
    background-color: #3685FB;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hero__conetn__button:hover {
    background-color: white;
    color: #3685FB;
    border: 3.5px solid #3685FB;
}

.header__book {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 144px;
    max-width: 980px;
    top: 84px;
    display: flex;
    box-shadow: 0px 40px 170px 0px #00224812;
    border-radius: 30px;
    background: white;
}

.header-book__menu {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-book-menu__item>h5 {
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 21px;
    display: flex;
    gap: 5px;
    align-items: center;
    height: 100%;
}

.header-book-menu__item>p {
    font-size: 16px;
    font-weight: 400;
    color: #697687;
}

.header-book__booknow {
    gap: 15px;
    background-color: #3685FB;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 61px;
    border-radius: 0 30px 30px 0;
}

.tour {
    margin-top: 150px;
    height: 690px;
}

.tour__wrapper {
    max-width: 1440px;
    height: 690px;
    background-image: url(../imgs/Take\ a\ Tour.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
}

.tour__content {
    width: 462px;
    height: 346px;
    position: absolute;
    top: 172px;
    right: 143px;
}

.tour__content>h5 {
    line-height: 18px;
    font-weight: 500;
    font-family: sans-serif;
    color: #00B3A0;
}

.tour__content>h2 {
    font-size: 42px;
    line-height: 52px;
    font-family: sans-serif;
    font-weight: 500;
    color: #002248;
    margin-top: 10.5px;
}

.tour__content>p {
    line-height: 28px;
    font-family: sans-serif;
    color: #697687;
    margin-bottom: 50px;
    margin-top: 20px;

}

.tour__content>a {
    padding: 20px 47px;
    background-color: #3685FB;
    line-height: 20px;
    font-family: sans-serif;
    color: #FFFFFF;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.about__container {
    max-width: 1170px;
    margin: auto;
}

.about__wrapper {
    display: flex;
    gap: 54px;
    position: relative;
}

.about__text>h5 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    font-family: sans-serif;
    color: #00B3A0;
    margin-top: 145px;
}

.about__text>h2 {
    font-size: 40px;
    line-height: 52px;
    font-family: sans-serif;
    font-weight: 500;
    color: #002248;
    margin-top: 10px;
}

.about__text>p {
    line-height: 28px;
    font-family: sans-serif;
    color: #697687;
    margin-bottom: 50px;
    margin-top: 20px;
}

.about__cards {
    max-width: 320px;
    height: 286px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 50px;
}

.about__card {
    width: 100%;
    max-width: 150px;
    height: 130px;
    border: 1px solid #cdcaca;
    border-radius: 10px;
    text-align: center;

}

.about__card>p {
    color: #3685FB;
    font-size: 32px;
    line-height: 34px;
    font-weight: 550;
    margin-top: 32px;
}

.about__card>h5 {
    color: #002248;
    font-weight: 500;
    line-height: 28px;
    font-family: sans-serif;
}

.about__images {
    max-width: 604px;
    height: 652px;
    margin-top: 120px;
    margin-bottom: 120px;

}

.about__img {
    position: absolute;
    top: -98px;
    right: 470px;
}


.Layout_end {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Layout_tittle {
    max-width: 1440px;
    width: 100%;
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 0 30px;
    flex-wrap: wrap;
}

.Layout_litle_text {
    color: #00B3A0;
    font-size: 16px;
    margin-top: 120px;
}

.Layout_Big_tex {
    font-size: 42px;
    color: #002248;
    max-width: 426px;
    height: 104px;
    width: 100%;
}

.Layut_btn {
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background-color: #3685FB;
    margin-top: 170px;
    border: 0px;

}

.Layut_btns {
    color: #FFFFFF;
    text-decoration: none;
}

.Layout_img {
    display: flex;
    max-width: 1800px;
    width: 100%;
    height: 456px;
    margin-top: 70px;
}

.container {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container_Left {
    margin-left: 80px;
    margin-top: 70px;
}

.container_tittle {
    max-width: 1000px;
    width: 100%;
    border-radius: 40px;
    background-color: #F3F8FF;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container_bts {
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background-color: #3685FB;
    margin-top: 30px;
    margin-bottom: 70px;
    border: 0px;
}

.Container_litle_text {
    color: #00B3A0;
    font-size: 16px;
}

.Container_Big_text {
    font-size: 42px;
    color: #002248;
    max-width: 426px;
    height: 104px;
    width: 100%;
}

.End_Logo {
    max-width: 1170px;
    width: 100%;
    height: 124px;
    display: flex;
    justify-content: center;
    gap: 0 20px;
    justify-content: space-around;
    margin-top: 100px;
}

.End_li {
    max-width: 600px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
}

.End__li {
    display: flex;
    gap: 0 30px;
}

.img {
    margin: 20px;
}

.Paragroup {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;

}