*{
    margin: 0;
    padding: 0;
}
.Layout_end{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Layout_tittle{
    max-width:1440px ;
    width: 100%;
    margin-left: 135px;
    margin-right: 135px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 0 30px;
    flex-wrap: wrap;
}
.Layout_litle_text{
    color:#00B3A0 ;
    font-size: 16px;
    margin-top: 120px;
}
.Layout_Big_tex{
    font-size: 42px;
    color: #002248;
    max-width: 426px;
    height: 104px;
    width: 100%;
}

.Layut_btn{
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background-color:#3685FB ;
    margin-top: 170px;
    border: 0px ;

}
.Layut_btns{
    color:#FFFFFF;
    text-decoration: none;
}
.Layout_img{
    display: flex;
    max-width:1800px;
    width:100%;
    height:456px;
    margin-top: 70px;
}
.container{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_Left{
    margin-left: 80px;
    margin-top: 70px;
}
.container_tittle{
    max-width: 1000px;
    width: 100%;
    border-radius: 40px;
    background-color: #F3F8FF;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.container_bts{
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background-color:#3685FB ;
    margin-top: 30px;
    margin-bottom: 70px;
    border: 0px ;
}
.Container_litle_text{
    color:#00B3A0 ;
    font-size: 16px;
}
.Container_Big_text{
    font-size: 42px;
    color: #002248;
    max-width: 426px;
    height: 104px;
    width: 100%;
}
.End_Logo{
    max-width: 1170px;
    width: 100%;
    height: 124px;
    display: flex;
    justify-content: center;
    gap: 0 20px;
    justify-content: space-around;
    margin-top: 100px;
}
.End_li{
    max-width: 600px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
}
.End__li{
    display: flex;
    gap: 0 30px;
}
.img{
    margin: 20px;
}
.Paragroup{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    
}